doctype html
head
  title Calorie Watcher
  link(rel='stylesheet' href='css/style.css')
#layer_1
  h1 Calorie Watcher
  form
    h3 Welcome to Calorie Watcher
    .layer_3
      strong
      |                     The App will suggest a workout routine, weekly or daily .
      br
      br
      .layer_4
        br
        h4 Example:
        p
          strong
            span(style='color: #000080;')
              | Don&apos;t worry, we got your back, we are going to make it easy for you to lose weight! Click next to get your Daily workout suggestion.
        p
          em A typical split would be like this:
        ul
          li
            strong Monday:
            | &nbsp;Abs/Arms
          li
            strong Tuesday:
            | &nbsp;Chest
          li
            strong Wednesday:
            | &nbsp;Abs/Cardio
          li
            strong Thursday:
            | &nbsp;Rest
          li
            strong Friday:
            | &nbsp;Back/Shoulder
          li
            strong Saturday:
            | &nbsp;Arms
          li
            strong Sunday:
            | &nbsp;Rest
        p(style='font-size: 1.5em;') &nbsp;
        p &nbsp;
  button#next(onclick="window.location.href='index-page3.html';" type='button') NEXT
  button#back(onclick="window.location.href='index-page1.html';" type='button') BACK
  br
  br
