include ./components/header.pug
    h3 Welcome to Calorie Watcher

    p#user #{email}
        br
        <a href="/logout">Logout</a>

    .layer_3
        strong
        |                     Enter your gender, starting date, and weight.
        br
        br
        .layer_4
            form(method="POST" action="/home")
                //- input(type='hidden' name='email' value='#{email}')
                span I am a
                label
                    input#male(type='radio' name='gender' value='male' checked='')
                    |  Male
                label
                    input#female(type='radio' name='gender' value='female')
                    |  Female
                br
                br
                span My starting date is:
                input#male(type='date' name='startDate')
                br
                br
                label(for='weight') My weight is:
                input#weight(type='number' name='initialWeight' min='1' max='500')
                |  Lbs
                br
                br
                label(for='height') My Height is:
                input#height(type='number' name='initialHeight' min='1' max='500')
                |  Inches
                br
                br
                button(name="add" type='submit') SUBMIT
                br
    button#next(onclick="window.location.href='/logout';" type='button') LOGOUT
    br
    include ./components/footer.pug
