include ./components/header.pug
    h3 Welcome to Calorie Watcher
    .layer_3
        h3 Please login to Calorie Watcher
        .layer_4
            i #{msg}
            br
            br
            // Login form
            .container
            form(method="POST" action="/login")
                br 
                br
                .profile-picture
                img.avatar(src='images/avatar.png' alt='Profile Picture' height=80)
                br 
                br
                b Username: 
                input(type='text'  name="email" placeholder='Enter Email' required='')
                br
                br
                b Password: 
                input(type='password' name="password"  placeholder='Enter Password' required='')
                br
                br
                button(name="login" type='submit') Login
                br
                //- input(type='checkbox' checked='checked')
                //- |  Remember me
            a(href='signup') 
                h5 Sign up for the free Calorie Watcher account
    include ./components/footer.pug