include ./components/header.pug
    h3 Welcome to Calorie Watcher
    .layer_3
      strong Welcome! Please create your Calorie Watcher profile
      br
      br
      .layer_4
        h2 Calorie Watcher
        p 
        i #{msg}
        br
        br
        // signup form
        form(method="POST" action="/signup")
          label(for='firstName')
            b First Name: 
          input(type='text' placeholder='Enter First Name' name='fname' required='')
          br
          br
          label(for='lastName')
            b Last Name: 
          input(type='text' placeholder='Enter Last Name' name='lname' required='')
          br
          br
          label(for='email')
            b Username:  
          input(type='email' placeholder='Enter Email' name='email' required='')
          br
          br
          label(for='psw')
            b Password:  
          input(type='password' placeholder='Enter Password' name='psw' required='')
          br
          br
          label(for='psw-repeat')
            b Repeat Password: 
          input(type='password' placeholder='Repeat Password' name='psw_repeat' required='')
          br
          br
          p
            | By creating an account, you agree to our
            a(href='#' onClick='window.open("/terms", "_blank", "width=500, height=500");' style='color:dodgerblue') Terms &amp; Privacy
          
          button.signupbtn(type='submit') Sign Up

        a(href='login') 
            h5 Already signed up? Click here to login
    include ./components/footer.pug