doctype html
head
  title Calorie Watcher
  link(rel='stylesheet' href='css/style.css')
#layer_1
  h1 Calorie Watcher
  form
    h3 Welcome to Calorie Watcher
    .layer_3
      strong
      |                     in this FINAL page, app will give them the result of their progress.
      br
      br
      .layer_4
        br
        p(style='text-align: left;')
          | In this box, the app will tell them how far they are from their goal. And once they reach their goal of loosing 15/52500 cal, it will print a message saying:
        p(style='text-align: center;')
          strong
            span(style='color: #008000;') CONGRATULATIONS, YOU HAVE LOST THE FRESHMAN 15LBS.
  button#next(onclick="window.location.href='login.html';" type='button') RESTART
  button#back(onclick="window.location.href='index-page2.html';" type='button') BACK
  br
  br
