doctype html
head
  title Calorie Watcher
  link(rel='stylesheet' href='css/style.css')
#layer_1
  h1 Calorie Watcher
  form
    h3 Welcome to Calorie Watcher
    .layer_3
      strong
      |                     The App will suggest a workout routine, weekly or daily .
      br
      br
      .layer_4
        br
        h4 Example:
        p
          strong
            span(style='color: #000080;')
              | Don&apos;t worry, we got your back, its so simple to loose weight, Click next to get your Daily workout suggestion
        p
          em A typical split would be like this:
        ul
          li
            strong Day 1:
            | &nbsp;Legs/Abs
          li
            strong Day 2:
            | &nbsp;Chest
          li
            strong Day 3:
            | &nbsp;Back/Abs*
          li
            strong Day 4:
            | &nbsp;Rest
          li
            strong Day 5:
            | &nbsp;Shoulder/Abs*
          li
            strong Day 6:
            | &nbsp;Arms
          li
            strong Day 7:
            | &nbsp;Rest
        p(style='font-size: 1.5em;') &nbsp;
        p &nbsp;
  button#next(onclick="window.location.href='index-page3.html';" type='button') NEXT
  button#back(onclick="window.location.href='index-page1.html';" type='button') BACK
  br
  br
